<div class="container">
    <div class="row">
        <div class="col-md-12">
              <form method="post">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="title" placeholder="Title" />
                </div>
                <div class="form-group">
                    <textarea id="comment" name="comment" ui-tinymce ng-model="tinymceModel" ></textarea>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-primary" ng-click="postQuestion()">Post</button>
                            <button type="button" class="btn btn-primary" ng-click="cancel()">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
          </div>
    </div>
</div>
