<div class="intro-header">
  <div class="container">
   
    <p class="lead">
      <img src="images/QnA-1.jpg" alt="POP"><br>
      PAQ - Pop A Question
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/login">Start Now!<span class="glyphicon glyphicon-ok"></span></a></p>
  </div>
  <div class="row">
    <div class='col-md-6 col-md-offset-3'>
    <h4>
      PAQ is an online question and answer portal where students can ask doubts related to their academic studies and get answers from Dedicated Gurus or other students.
    </h4>
  </div>
  </div>
</div>