<div class="container">
  <div class="row">
   <div class="col-md-12">
  	<h2>All Questions</h2>
  		<div class="ques-list">
  		<div class="question-container row" ng-repeat="q in questions" ui-sref="questionDetails({ questionId : q.id})">
			<div class="col-md-9 col-xs-9">
				
					<h3>{{q.title}}</h3>
					<div class="question-cat">
	                <ul class="question-tags">
	                    <li>
	                        <a class="q-tag" href="#">apps</a>
	                    </li>
	                    <li>
	                        <a class="q-tag" href="">business</a>
	                    </li>
	                    <li>
	                        <a class="q-tag" href="">glass</a>
	                    </li>
	                    <li>
	                        <a class="q-tag" href="">google</a>
	                    </li>
	                        <li>
	                        <a class="q-tag" href="">technology</a>
	                    </li>
	                    </ul>
	                </div>
			</div>
			<div class="col-md-3 col-xs-3">
				<ul class="question-statistic">
					<li><span>99</span>views</li>
					<li><span>{{q.ans_count || 0 }}</span>answers</li>
					<li><span>{{q.vote_count || 0}}</span>votes</li>
				</ul>
			</div>
		</div>
	 </div>
	 <div class='clearfix'>&nbsp;</div>
   </div>
  </div>
</div>
