<div class="container">
  <div class="row">
   <div class="col-md-12">
  	<h2>All Questions</h2>
  		<div class="ques-list">
  		<div class="question-container row" ng-repeat="q in questions" ui-sref="questionDetails({ questionId : q.id})">
			<div class="col-md-9 col-xs-9">
				
					<h3>{{q.title}}</h3>
					<div class="question-cat">
		                <ul class="question-tags">
		                    <li ng-repeat="t in q.tags">
		                        <a class="q-tag" href="#">{{t.title}}</a>
		                    </li>
	                    </ul>
	                </div>
			</div>
			<div class="col-md-3 col-xs-3">
				<ul class="question-statistic">
					<li><span>{{q.view_count}}</span>views</li>
					<li><span>{{q.answers.length}}</span>answers</li>
					<li><span>{{q.vote_count || 0}}</span>votes</li>
				</ul>
			</div>
		</div>
	 </div>
	 <div class='clearfix'>&nbsp;</div>
   </div>
  </div>
</div>
